w3-group-1/w3-group-1-client/Connected Services/ContactExample/ContactManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/w3_group_1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/w3_group_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInformation" nillable="true" type="tns:ContactInformation" />
</xs:schema>