w3-group-1/w3-group-1-client/Connected Services/ContactExample/ContactManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58534/ContactManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58534/ContactManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58534/ContactManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w3_group_1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactManager_GetContactInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInformation" />
  </wsdl:message>
  <wsdl:message name="IContactManager_GetContactInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IContactManager_GetNumberOfContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfContacts" />
  </wsdl:message>
  <wsdl:message name="IContactManager_GetNumberOfContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactManager">
    <wsdl:operation name="GetContactInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManager/GetContactInformation" message="tns:IContactManager_GetContactInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManager/GetContactInformationResponse" message="tns:IContactManager_GetContactInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManager/GetNumberOfContacts" message="tns:IContactManager_GetNumberOfContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManager/GetNumberOfContactsResponse" message="tns:IContactManager_GetNumberOfContacts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactManager" type="tns:IContactManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContactInformation">
      <soap:operation soapAction="http://tempuri.org/IContactManager/GetContactInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfContacts">
      <soap:operation soapAction="http://tempuri.org/IContactManager/GetNumberOfContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactManager">
    <wsdl:port name="BasicHttpBinding_IContactManager" binding="tns:BasicHttpBinding_IContactManager">
      <soap:address location="http://localhost:58534/ContactManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>