w4-practice-midterm/part2-client/Connected Services/BankingService/BankingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/w3_lab_3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/w3_lab_3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccountInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountInformation" nillable="true" type="tns:AccountInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountInformation" nillable="true" type="tns:ArrayOfAccountInformation" />
  <xs:complexType name="AccountInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInformation" nillable="true" type="tns:AccountInformation" />
</xs:schema>