w4-practice-midterm/part2-client/Connected Services/BankingService/BankingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55890/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w3_lab_3" />
  <xs:element name="ReturnAmountEarned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balance" type="xs:float" />
        <xs:element minOccurs="0" name="interest" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAmountEarnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnAmountEarnedResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w3_lab_3" minOccurs="0" name="GetAccountInformationResult" nillable="true" type="q1:ArrayOfAccountInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>